---
import {
  basicUsageCode,
  customizationCode,
  importCode,
  tableHead,
  tableRows,
} from '../../data/icon.ts'
import { Icon as IconAc, Tab, TabItem } from 'free-astro-components'
import Article from '../../components/Article.astro'
import CodeBlock from '../../components/CodeBlock.astro'
import Content from '../../layouts/Content.astro'
import Header from '../../components/Header.astro'
import Heading from '../../components/Heading.astro'
import Layout from '../../layouts/Layout.astro'
import Link from '../../components/Link.astro'
import List from '../../components/List.astro'
import ListItem from '../../components/ListItem.astro'
import Preview from '../../components/Preview.astro'
import Prose from '../../components/Prose.astro'
import Sidebar from '../../layouts/Sidebar.astro'
import Table from '../../components/Table.astro'
import Text from '../../components/Text.astro'
---

<Layout title="Free Astro Components - Icon">
  <Header />
  <Sidebar />
  <Content>
    <section>
      <Article>
        <Heading
          slot="header"
          level={1}
          gradient
          class="inline-block"
          text="Icon"
        />
        <Prose>
          <Text>
            The icon component provides a consistent way to display icons
            throughout your Astro projects. It includes a set of predefined
            icons that you can style using CSS.
          </Text>
        </Prose>
        <Prose>
          <Heading level={2} text="Import" />
          <Text>
            To use the icon component, first import it into your project:
          </Text>
          <CodeBlock lang="astro" code={importCode} />
        </Prose>
        <Prose>
          <Heading level={2} text="Usage" />
          <Text>
            Here’s how you can use the icon component in your Astro project:
          </Text>
          <Heading level={3} text="Basic Usage" />
          <Text>
            To display an icon, you must use a CSS class to define the icon's
            size and color.
          </Text>
          <Tab tabs={[{ label: 'Preview', active: true }, { label: 'Code' }]}>
            <TabItem active>
              <Preview>
                <IconAc icon="star" class="w-8 h-8 text-primary" />
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="astro" code={basicUsageCode} />
            </TabItem>
          </Tab>
          <Text>
            In this example, the <code>icon-class</code> should define the desired
            size and color for the icon.
          </Text>
          <Heading level={3} text="Customization" />
          <Text>
            Since the icon component relies on CSS for styling, you can use any
            CSS properties to style the icons. This includes size, color,
            margin, etc. Here's an example of a CSS class for customization:
          </Text>
          <Tab tabs={[{ label: 'Preview', active: true }, { label: 'Code' }]}>
            <TabItem active>
              <Preview>
                <div class="flex items-center flex-wrap gap-4">
                  <IconAc icon="star" class="w-6 h-6 text-primary" />
                  <IconAc icon="star" class="w-8 h-8 text-primary" />
                  <IconAc icon="star" class="w-10 h-10 text-primary" />
                </div>
              </Preview>
            </TabItem>
            <TabItem>
              <CodeBlock lang="astro" code={customizationCode} />
            </TabItem>
          </Tab>
        </Prose>
        <Prose>
          <Heading level={2} text="Props" />
          <Table head={tableHead} rows={tableRows} />
        </Prose>
        <Prose>
          <Heading level={2} text="Accessibility" />
          <List>
            <ListItem>
              <Text>
                <strong>Labeling</strong>: Ensure each icon has an appropriate
                label for screen readers. Use the <code>aria-label</code> attribute
                to provide a description of the icon's purpose.
              </Text>
            </ListItem>
          </List>
        </Prose>
        <Prose>
          <Heading level={2} text="Available Icons" />
          <Text>
            To view the list of all available icons that you can use with this
            component, please visit the <Link href="/resources/available-icons"
              >Available Icons</Link
            >. There, you'll find a complete list of icons and examples of how
            to use them.
          </Text>
        </Prose>
      </Article>
    </section>
  </Content>
</Layout>
